@page "/"
@inject IJSRuntime JS

<h1>Hello, world!</h1>

Welcome to your new default app!

<SurveyPrompt Title="How is Blazor working for you?" />

@code
{      
    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        await JS.InvokeVoidAsync("shoutOut", DateTime.Now.ToString());
    }

}